@media (max-width:599px) { body {
    background-color: #212121;
  }

  /* intro */

  .intro {
    width: 100%;
    height: 400px;
  }

  .intro img {
    width: 100%;
    height: 100%;
  }

  .text_zone {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    font-family: "Haan Cooljazz M";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .text_box {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
  }

  .text_box span {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
  }

  .text_box p {
    font-weight: bold;
    color: #fff;
  }

  /* story */

  .story {
    width: 1000px;
    height: 500px;
    margin: 200px auto;
    position: relative;
    overflow: hidden;
  }

  .story_slide {
    width: 14000px;
    position: relative;
  }

  .story_slide li {
    width: 1000px;
    height: 500px;
    float: left;
    margin: 0 auto;
    text-align: center;
  }

  .story_slide li img {
    width: 50%;
    height: 100%;
  }

  .story span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #000;
    line-height: 50px;
    background: #aaa;
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
    font-family: "나눔스퀘어";
    font-weight: bold;
  }

  .story span:hover {
    background: #fff;
    color: #000;
    transition: 1s;
  }

  .prev {
    left: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0 8px 0 2px;
  }

  .next {
    right: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 0 2px 0 8px;
  }

  /* main */

  .main_prv {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .main_prv_text {
    width: 100%;
    height: 100px;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    font-weight: bold;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 0;
  }

  @keyframes blink{
    0% {opacity: 0; transition: 1s;}
    25% {opacity: 1; transition: 1s;}
    50% {opacity: 0; transition: 1s;}
    75% {opacity: 1; transition: 1s;}
    100% {opacity: 0; transition: 1s;}
    
  }

  .main {
    width: 100%;
    height: 250px;
    display: none;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
  }

  .main video {
      width: 100%;
      height: 100%;
  }

  /* text_slide */

  .text_slide{
    width: 100%;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .text_slide img {
    width: 100%;
    height: 100%;
  }

  .another_piece {
    width: 300px;
    height: 70px;
    border: #aaa 3px solid;
    border-radius: 100px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
  }

  .another_piece:hover {
    border:#212121 3px solid;
    background-color: #fff;
    transition: 1.5s;
  }

  .another_piece a:hover {
    color: #212121;
    transition: 1.5s;
  }

}
@media(min-width:600px) and (max-width:1199px){
    body {
    background-color: #212121;
  }

  /* intro */

  .intro {
    width: 100%;
    height: 600px;
  }

  .intro img {
    width: 100%;
    height: 100%;
  }

  .text_zone {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    font-family: "Haan Cooljazz M";
    text-align: center;
    margin-bottom: 100px;
  }

  .text_box {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
  }

  .text_box span {
    font-weight: bold;
    color: #fff;
    font-size: 28px;
  }

  .text_box p {
    font-weight: bold;
    color: #fff;
  }

  /* story */

  .story {
    width: 1000px;
    height: 500px;
    margin: 200px auto;
    position: relative;
    overflow: hidden;
  }

  .story_slide {
    width: 14000px;
    position: relative;
  }

  .story_slide li {
    width: 1000px;
    height: 500px;
    float: left;
    margin: 0 auto;
    text-align: center;
  }

  .story_slide li img {
    width: 50%;
    height: 100%;
  }

  .story span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #000;
    line-height: 50px;
    background: #aaa;
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
    font-family: "나눔스퀘어";
    font-weight: bold;
  }

  .story span:hover {
    background: #fff;
    color: #000;
    transition: 1s;
  }

  .prev {
    left: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0 8px 0 2px;
  }

  .next {
    right: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 0 2px 0 8px;
  }

  /* main */

  .main_prv {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .main_prv_text {
    width: 100%;
    height: 100px;
    font-size: 36px;
    color: #fff;
    opacity: 0;
    font-weight: bold;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 0;
  }

  @keyframes blink{
    0% {opacity: 0; transition: 1s;}
    25% {opacity: 1; transition: 1s;}
    50% {opacity: 0; transition: 1s;}
    75% {opacity: 1; transition: 1s;}
    100% {opacity: 0; transition: 1s;}
    
  }

  .main {
    width: 100%;
    height: 500px;
    display: none;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
  }

  .main video {
      width: 100%;
      height: 100%;
  }

  /* text_slide */

  .text_slide{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .text_slide img {
    width: 100%;
    height: 100%;
  }

  .another_piece {
    width: 300px;
    height: 70px;
    border: #aaa 3px solid;
    border-radius: 100px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
  }

  .another_piece:hover {
    border:#212121 3px solid;
    background-color: #fff;
    transition: 1.5s;
  }

  .another_piece a:hover {
    color: #212121;
    transition: 1.5s;
  }
}



@media(min-width:1200px){
body {
    background-color: #212121;
  }

  /* intro */

  .intro {
    width: 100%;
    height: 850px;
  }

  .intro img {
    width: 100%;
    height: 100%;
  }

  .text_zone {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    font-family: "Haan Cooljazz M";
    text-align: center;
    margin-bottom: 100px;
  }

  .text_box {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
  }

  .text_box span {
    font-weight: bold;
    color: #fff;
    font-size: 28px;
  }

  .text_box p {
    font-weight: bold;
    color: #fff;
  }

  /* story */

  .story {
    width: 1000px;
    height: 500px;
    margin: 200px auto;
    position: relative;
    overflow: hidden;
  }

  .story_slide {
    width: 14000px;
    position: relative;
  }

  .story_slide li {
    width: 1000px;
    height: 500px;
    float: left;
    margin: 0 auto;
    text-align: center;
  }

  .story_slide li img {
    width: 50%;
    height: 100%;
  }

  .story span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #000;
    line-height: 50px;
    background: #aaa;
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
    font-family: "나눔스퀘어";
    font-weight: bold;
  }

  .story span:hover {
    background: #fff;
    color: #000;
    transition: 1s;
  }

  .prev {
    left: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0 8px 0 2px;
  }

  .next {
    right: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 0 2px 0 8px;
  }

  /* main */

  .main_prv {
    width: 100%;
    height: 950px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .main_prv_text {
    width: 100%;
    height: 100px;
    font-size: 50px;
    color: #fff;
    opacity: 0;
    font-weight: bold;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 0;
  }

  @keyframes blink{
    0% {opacity: 0; transition: 1s;}
    25% {opacity: 1; transition: 1s;}
    50% {opacity: 0; transition: 1s;}
    75% {opacity: 1; transition: 1s;}
    100% {opacity: 0; transition: 1s;}
    
  }

  .main {
    width: 100%;
    height: 950px;
    display: none;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
  }

  /* text_slide */

  .text_slide{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .text_slide img {
    width: 100%;
    height: 100%;
  }

  .another_piece {
    width: 300px;
    height: 70px;
    border: #aaa 3px solid;
    border-radius: 100px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
  }

  .another_piece:hover {
    border:#212121 3px solid;
    background-color: #fff;
    transition: 1.5s;
  }

  .another_piece a:hover {
    color: #212121;
    transition: 1.5s;
  }
}